* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h2 {
    text-align: center;
    background-color: #4b4747;
}

.body {
    color: #f3f2f0;
    display: grid;
    grid-template-columns: 100% auto;
    grid-template-rows: 45px 1px auto 150px;
    grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
}

.header {
    grid-area: header;
    background-color: #696969;
    position: sticky;
    top: 0;
    z-index: 4;
}

.header h1 {
    text-align: center;
    margin-top: 10px;
}

.header img {
    width: 100px;
    position: absolute;
    margin: 10px;
}

.aside {
    grid-area: aside;
    background-color: #363232; 
   
}

.aside img {
    position: fixed;
    width: 55px;
    top: 0px;
    z-index: 4;
}

.nav {
    grid-area: nav;
    display: flex;
}

.main {
    grid-area: main;
    background-color: #020201;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}

.card img {
    width: 200px;
    height: 230px;
}

.front,
.back {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.front {
    width: 150px;
    height: auto;
    z-index: 2;
    backface-visibility: hidden;
}

.back {
    width: 150px;
    height: auto;
    flex-direction: column;
    z-index: 1;
    transform: rotateY(180deg);
    margin-top: 40px;
}

.back a {
    background-color: #ffc400;
    color: #807f7e;
    border-radius: 50px;
    padding: 5px 25px 5px 25px;
    border: 1px solid black;
}

.item:hover .card {
    transform: rotateY(180deg);
}

.footer {
    grid-area: footer;
    background-color: #696969;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75px;
    grid-template-areas:
        "contacto"
        "redes";
}

.contacto p {
    text-align: center;
    font-size: 18px;
    margin-top: 3px;
}
.redes{
    display: flex;
    justify-content: center;
}
.redes i{
    margin-top: 13px;
    padding: 8px;
    font-size: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 250px);
    gap: 10px;
}

.item {
    display: flex;
    background-color: #696969;
    justify-content: center;
    padding: 5px;
    margin: 5px;
}

.nav ul {
    position: fixed;
    width: 100%;
    height: 450px;
    background-color: #363232;
    top: 45px;
    left: -100%;
    transition: all .5s;
    z-index: 3;
}

.nav ul li {
    display: block;
    text-align: center;
    line-height: 10px;
    padding: 20px;
}

.nav ul li a {
    font-size: 25px;
    text-decoration: none;
    color: #ffffffff;
    transition: font-size .5s linear;
}
.nav ul li a:active{
   opacity: 0;
}
.nav ul li a:hover{
    font-size: 15px;
}


.checkbtn i {
    font-size: 20px;
    position: fixed;
    top: 18px;
    right: 8px;
    cursor: pointer;
    text-align: center;
    z-index: 5;
}

#check:checked~ul {
    left: 0;
}

#check {
    display: none;
}

.accion {
    grid-area: accion;
}

.terror {
    grid-area: terror;
}

.suspenso {
    grid-area: suspenso;
}

.amor {
    grid-area: amor;
}

.comedia {
    grid-area: comedia;
}

.ficcion {
    grid-area: ficcion;
}

.animadas {
    grid-area: animadas;
}

.aventura {
    grid-area: aventura;
}

/*------------------------>   media query para tablet<---------------------------------*/
@media (min-width: 700px) {
    .body {
        grid-template-columns: 100% auto;
        grid-template-rows: 50px 50px auto 150px;
        grid-template-areas:
            "header header"
            "nav nav"
            "main main"
            "footer footer";
    }
   
    .aside img {
        position: fixed;
        width: 60px;
        top: 0px;
        left: 10px;
        z-index: 4;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* Crea 3 columnas de igual tamaño */
        grid-template-rows: repeat(2, 242px);
        /* Crea 3 filas de altura fija de 100px */
        gap: 5px;
        /* Espacio entre las celdas */
        margin: 5px;
    }

    .nav ul {
        display: flex;
        left: 0;
        height: 55px;
        justify-content: center;
        align-items: center;

    }

    .nav ul li {
        display: inline-block;
        padding: 15px;

    }

    .nav ul li a {
        text-decoration: none;
    }

    .active {
        font-size: 22px;
        border: 2px solid #42413d;
    }


    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card img {
        width: 200px;
        height: 210px;
    }

    .checkbtn {
        display: none;
    }

    #check {
        display: none;
    }
    .footer {
        grid-template-columns: 50% 50%;
        grid-template-rows: 75px 45px;
        grid-template-areas:
            "contacto redes";
    }
    
    
    .contacto p{
        text-align:start;
        margin-left: 120px;
        font-size: 20px;
    }
    .redes{
        flex-direction: column;
        justify-content: end;
        align-items: end;
        margin-top: 140px;
        margin-right: 10px;
    }
  .redes i{
    padding: 1px;
  }

}

/*------------------------>   media query para pc<---------------------------------*/
@media (min-width: 1281px) {
    .body {
        grid-template-columns: 200px auto;
        grid-template-rows: 55px 2350px 200px;
        grid-template-areas:
            "aside header header"
            "aside main main "
            "aside footer footer";
    }

    .header {
        position: sticky;
        top: 0;
        z-index: 3;
    }

    .main {
        display: grid;
        grid-template-columns: 100px auto;
        grid-template-rows: 220px 220px 220px 220px 220px 220px 220px 220px;
        grid-template-areas:
            "accion accion accion"
            "terror terror terror "
            "suspenso suspenso suspenso"
            "amor amor amor"
            "comedia comedia comedia"
            "ficcion ficcion ficcion"
            "animadas animadas animadas"
            "aventura aventura aventura";
        gap: 60px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 500px);
        margin-left: 50px;
    }
   
    .aside img {
        
        width: 90px;
        height: 110px;
        margin-left: 20px;
        top: 10px;
        left: 30px;
        display: block;
    }

    .nav {
        position: fixed;
        left: 0;
        top: 0;
    }
    
    .nav ul {
        flex-direction: column;
        left: 0%;
        height: 450px;
        width: 190px;
        margin-top: 50px;
    }
    .nav ul li a{
        display: block;
    }

    .item {
        width: 180px;
        height: 230px;

    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card img {
        width: 220px;
        height: 220px;
    }

    .checkbtn {
        display: none;
    }

    #check {
        display: none;
    }
    .footer {
        grid-template-columns: 100%;
        grid-template-rows: 10px;
        grid-template-areas:
            "contacto"
            "redes";
    }
    .redes{
        background-color: #5c5b59;
        flex-direction: row;
      justify-content: space-between;
      padding-bottom: 4px;
      width: 100%;
    }
    .contacto p{
        margin: 0;
        text-align: center;
        font-size: 20px;
        margin-top: 5px;
    }


}