* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h2 {
    text-align: center;
    background-color: #696969;
}

.body {
    color: #f3f2f0;
    display: grid;
    grid-template-columns: 100% auto;
    grid-template-rows: 50px 1px auto 150px;
    grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
}

.header {
    grid-area: header;
    background-color: #42413d;
}

.header h1 {
    text-align: center;
    margin-top: 10px;
}

.header img {
    width: 100px;
    position: absolute;
    margin: 10px;
}

.aside {
    grid-area: aside;
    background-color: #383838;
}

.nav {
    grid-area: nav;
}

.main {
    grid-area: main;
    background-color: #020201;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}

.card img {
    width: 200px;
    height: 230px;
}
.front,
.back{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.front{
    width: 180px;
    height: auto;
    z-index: 2;
    backface-visibility: hidden;
}
.back{
   width: 150px;
   height: auto;
    flex-direction: column;
    z-index: 1;
    transform: rotateY(180deg);
}
.back a {
    background-color: #ffa601;
    color: #ffffff;
    border-radius: 50px;
    padding: 2px 25px 2px 25px;
    border:1px solid black;
    text-decoration: none;
    font-size: 20px;
}



.item:hover .card{
    transform: rotateY(180deg);
}


.footer {
    grid-area: footer;
    background-color: #42413d;
}

.footer p {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Crea 3 columnas de igual tamaño */
    grid-template-rows: repeat(3, 250px);
    /* Crea 3 filas de altura fija de 100px */
    gap: 10px;
    /* Espacio entre las celdas */
}

.item {
    display: flex;
    background-color: #959492;
    justify-content: center;
    padding:5px;
    margin: 5px;
}

.nav ul {
    position: absolute;
    width: 100%;
    height: 450px;
    background-color: #ffc400;
    top: 50px;
    left: -100%;
    transition: all .5s;
}

.nav ul li {
    display: block;
    text-align: center;
    line-height: 10px;
    padding: 20px;
}

.nav ul li a {
    font-size: 25px;
    text-decoration: none;
}

.checkbtn i {
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    text-align: center;
}

#check:checked~ul {
    left: 0;
}

#check {
    display: none;
}

.accion {
    grid-area: accion;
}

.terror {
    grid-area: terror;
}

.suspenso {
    grid-area: suspenso;
}

.amor {
    grid-area: amor;
}

.comedia {
    grid-area: comedia;
}

.ficcion {
    grid-area: ficcion;
}

.animadas {
    grid-area: animadas;
}

.aventura {
    grid-area: aventura;
}

/*------------------------>   media query para tablet<---------------------------------*/
@media (min-width: 700px) {
    .body {
        grid-template-columns: 100% auto;
        grid-template-rows: 30px 20px auto 150px;
        grid-template-areas:
            "header header"
            "aside aside"
            "main main"
            "footer footer";
    }

    .header img {
        width: 100px;
        position: absolute;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* Crea 3 columnas de igual tamaño */
        grid-template-rows: repeat(2, 242px);
        /* Crea 3 filas de altura fija de 100px */
        gap: 5px;
        /* Espacio entre las celdas */
        margin: 5px;
    }

    .nav ul {
        display: block;
        left: 0;
    }

    .nav ul li {
        display: inline-block;
        padding: 15px;

    }

    .nav ul li a {
        text-decoration: none;
    }

    .active {
        font-size: 22px;
        border: 2px solid #42413d;
    }


    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card img {
        width: 180px;
        height: 180px;
    }

    .checkbtn {
        display: none;
    }

    #check {
        display: none;
    }

}

/*------------------------>   media query para pc<---------------------------------*/
@media (min-width: 1281px) {
    .body {
        grid-template-columns: 20px auto;
        grid-template-rows: 45px 2100px 100px;
        grid-template-areas:
            "aside header header"
            "aside main main "
            "aside footer footer";
    }

    .header img {
        width: 130px;
        position: absolute;
    }

    .aside {
        width: 20px;
    }

    .main {
        display: grid;
        grid-template-columns: 200px auto;
        grid-template-rows: 190px 190px 190px 190px 190px 190px 190px 190px;
        grid-template-areas:
            "accion accion accion"
            "terror terror terror "
            "suspenso suspenso suspenso"
            "amor amor amor"
            "comedia comedia comedia"
            "ficcion ficcion ficcion"
            "animadas animadas animadas"
            "aventura aventura aventura";
        gap: 65px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 300px);
        margin-left: 50px;
        margin-bottom: 50px;
    }

    .nav ul {

        background-color: #f7c932;
        left: -98%;
        transition: all .7s;
    }

    .nav ul li {
        margin: 15px;
        padding: 5px;
    }


    .nav ul:hover {
        position: fixed;
        width: 18%;
        height: 100vh;
        background-color: #ffc400;
        top: 0px;
        left: 0%;
        transition: all .5s;
    }

    .nav ul li {
        display: flex;
    }

    .nav ul li a {
        flex-direction: column;
        padding: 10px 15px;
        text-decoration: none;
    }

    .nav ul li a:active {
        flex-direction: column;
        padding: 10px 15px;
        text-decoration: none;
    }

    .item {
        width: 150px;
        height: 200px;
        padding: 0;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #e9e9e9;
    }

    .card img {
        width: 150px;
        height: 198px;
    }


    .checkbtn {
        display: none;
    }

    #check {
        display: none;
    }

}